@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;  
  } 
  @mixin ring ($border-width, $width, $color) {
    width: $width;
    height: $width;
    border: $border-width solid $color;
    border-radius: $width/2;    
  } 
  //responsive
  @function rem($px) {
    @return $px / 16px+0rem;
  }