

@font-face {
    font-family: 'ptsans';
    src: url('../ptsans.woff2') format('woff2'),
         url('../ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../roboto.woff2') format('woff2'),
         url('../roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FreeSetExtraCTT';
    src: url('../FreeSetExtraCTT.woff2') format('woff2'),
        url('../FreeSetExtraCTT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../MyriadPro-Regular.woff2') format('woff2'),
        url('../MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-bold';
    src: url('../PTSans-Bold.woff2') format('woff2'),
        url('../PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../Geometria.woff2') format('woff2'),
        url('../Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('../Roboto-Black.woff2') format('woff2'),
        url('../Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

